@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box; 
  font-family: "Big Shoulders Display", sans-serif;
   
}


html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
   
}
body::-webkit-scrollbar {
    display: none;
}

.main{
    height: 100%;
    width: 100%;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h3{
    font-size: 5vw;
    font-weight: 800;
    text-transform: uppercase;
}
section{
    height: 100vh;
    width: 100%;
}
.hero{
    background: black;
}
.about, .service{
    display: flex; 
    align-items: center;
    justify-content: center;
    background: #ffb3ea;  
 }
 .about h3, .service h3{
    font-size: 4vw;
    width: 90%;
 }

 footer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #87795f;
 }
 footer h2{
    font-size: 10vw;
    text-transform: uppercase;
 }

 .marquees{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
 }

 .marquee-container{
    position: relative;
    width: 125%;
    height: 16vw;
    display: flex;
    margin-bottom: 1em;
    overflow: hidden;
 }
.marquee{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 1em;
}
#marquee-1, #marquee-3{
    left: -15%;
}

.item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.with-text{
    flex: 1.5;
}
.item h1{
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 400;  
}

 
html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }